$primary: #0099ff;
$darkprimary: #00327e;
$white: #ffffff;
$offwhite: #dddddd;
$black: #000000;
$gray: #949494;
$placeholdergray: lightgray;
$cyan: #3995fd;
$prettyred: #ff5e5e;
$warningyello: rgb(255, 224, 87);
$fontPrimary: Merriweather;
$fontSecondary: Poppins;


