<main #main *ngIf="pageData" class="fullscreen column center-center" [ngStyle]="pageData.css">
  <figure *ngIf="pageData" [ngStyle]="{'background-image': pageData.backgroundImage}"></figure>
 
    <div class="content" >
          <h1>
            {{pageData.heading}}
          </h1>
          <h2>
            {{pageData.subheading}}          
          </h2>
          <h3 *ngIf="pageData.text" [innerHTML]="pageData.text">
          </h3>
          <markdown *ngIf="pageData.md" [data]="pageData.md"></markdown>
    </div>
    <div *ngIf="pageData.showSwipePrompt" class="bottom" style="cursor: pointer" [routerLink]="pageData.forward">
      <app-pulse-arrow></app-pulse-arrow>
    </div>
</main>

